.nav-bar-icons {
    width: 30px;
    height: 30px;
    padding: 2rem
}

.content {
    display: flex;
}

h1 {
    padding: 0.75rem
}

.nav-area {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.25rem solid green ;
}